<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
                <hr class="star-primary">
            </div>
        </div>


        <div class="row text-center">
            <div class="col-lg-4 col-lg-offset-2">
                <h4>Who we are</h4>
                <p>We live and breathe software development.</p>
            </div>
            <div class="col-lg-4">
                <h4>What we do</h4>
                <p>We specialise in developing innovative software solutions using leading practice technologies.</p>
            </div>
        </div>
        
    </div>
</section>