<!-- Header -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-text hidden">
                    <span class="name">{{ site.title }} - {{ site.description }}</span>
                </div>
                
                <div>
                    <img class="mac-mockup img-responsive" src="/img/mac-transparent-1000px.png" alt="Leading practice software development">
                </div>
                
            </div>
        </div>
    </div>
</header>
