<!-- Services Section -->
<section class="success" id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Services</h2>
                <hr class="star-light cubes">
            </div>
        </div>

        <div class="row text-center">
            <h3>Innovative, best practice, software development</h3>
            
            <div class="col-lg-4 col-lg-offset-2">
                <h5>Web development</h5>
                <h5>E-Commerce</h5>
                <h5>Drupal \ Wordpress development</h5>
                <h5>Mobile development</h5>
            </div>
            <div class="col-lg-4">
                <h5>GIS \ mapping systems</h5>
                <h5>Data Analytics</h5>
                <h5>User experience (UX)</h5>
                <h5>DevOps consulting</h5>
            </div>
        </div>
    </div>
</section>
